<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">

<!--자꾸 현재 post의 위치에서부터 찾아서 에러가 났다. 그래서 뒤로 보내줬다.-->
<link rel="manifest" href="../../assets/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Clipboard.js 라이브러리 추가 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

<!-- 스크롤 시 header 숨기고 나타내기 -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = document.querySelector('.masthead').offsetHeight;

        window.addEventListener('scroll', function() {
            var st = window.scrollY;

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If current position > last position, scroll down
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                document.querySelector('.masthead').classList.add('is-hidden');
            } else {
                // Scroll Up
                document.querySelector('.masthead').classList.remove('is-hidden');
            }

            // Show masthead if near the top of the page
            if (st < navbarHeight) {
                document.querySelector('.masthead').classList.remove('is-hidden');
            }

            lastScrollTop = st;
        });
    });
</script>











    <!-- end custom head snippets -->
