---
layout: archive
---

{{ content }}

{% assign current_category = nil %}
{% assign current_url = page.url %}

{% assign category_pages = "" | split: "" %}  <!-- 빈 배열 초기화 -->
{% for page in site.pages %}
{% if page.layout == "category" %}
{% assign category_pages = category_pages | push: page %}  <!-- 배열에 페이지 추가 -->
{% endif %}
{% endfor %}

<!-- 배열의 내용을 출력해보기 -->
<!--<ul>-->
<!--    {% for category_page in category_pages %}-->
<!--    <li>{{ category_page }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!-- 해당 페이지의 children 이름들 찾기 -->
{% for category in site.data.navigation.categories %}
    {% if category.url == current_url %}
        {% assign current_category = category %}  <!-- 일치하는 항목을 current_category에 저장합니다. -->
    {% endif %}
    {% if category.children %}
        {% for child in category.children %}
            {% if child.url == current_url %}
                {% assign current_category = child %}  <!-- 일치하는 항목을 current_category에 저장합니다. -->
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


{% assign matched_taxonomies = "" | split: "" %}  <!-- 빈 배열 초기화 -->
{% for category_page in category_pages %}
    {% for cur in current_category.children %}
        {% if category_page.title == cur.title %}
            {% assign matched_taxonomies = matched_taxonomies | push: category_page.taxonomy %}  <!-- taxonomy 추가 -->
        {% endif %}
        {% if cur.children %}
            {% for child in cur.children %}
                {% if category_page.title == child.title %}
                    {% assign matched_taxonomies = matched_taxonomies | push: category_page.taxonomy %}  <!-- 하위 카테고리의 taxonomy 추가 -->
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- 배열의 내용을 출력해보기 -->
<!--<ul>-->
<!--    {% for taxonomy in matched_taxonomies %}-->
<!--    <li>{{ taxonomy }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!-- children categories을 찾아서 배열에 넣기 -->
{% assign matching_categories = "" | split: "" %}  <!-- 빈 배열 생성 -->
{% if current_category and current_category.children %}
    {% for mycategory in matched_taxonomies %}
        {% for category in site.categories %}
            {% if mycategory == category[0] %}
                {% assign matching_categories = matching_categories | push: category %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

<!-- 배열 내용 출력 -->
<!--<h2>Matching Categories:</h2>-->
<!--<ul>-->
<!--    {% for category in matching_categories %}-->
<!--    <li>{{ category[0] }}: <a href="{{ category[0] | slugify }}">{{ category[0] }}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<!-- max 갯수 찾기 -->
{% assign categories_max = 0 %}
{% for category in matching_categories %}
    {% if category[1].size > categories_max %}
        {% assign categories_max = category[1].size %}
    {% endif %}
{% endfor %}


<ul class="taxonomy__index">
    {% for i in (1..categories_max) reversed %}
    {% for category in matching_categories %}
    {% if category[1].size == i %}
    <li>
        <a href="{{ category[0] | slugify | downcase }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
{% for category in matching_categories %}
    {% if category[1].size == i %}
    <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
            {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
    {% endif %}
{% endfor %}
{% endfor %}